* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E6E6F0;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

.pagina {
    width: 736px;
    margin: auto;
}

header {
    width: 319px;
    margin-top: 74px;
}

header h1 {
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}

header p {
    font-size: 17px;
    line-height: 26px; 
    color: #FFFFFF;
}

form {
    background: #fafafc;
    min-height: 00px;
    margin-top: 38px;
    border-radius: 20px 20px 8px 8px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}


fieldset {
    border:none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend {
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;
    width: 100%;
    border-bottom: 1px solid #e6e6f0;
    padding-bottom: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    font-size: 14px;
    line-height: 24px;
    color: #4e4958;
    margin-bottom: 8px;
}

.input-wrapper label span {   
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper input, .input-wrapper textarea, .input-wrapper select {
    background: #fafafc;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    height: 56px;
    padding: 0 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #6c6b6e;
}
.fieldset-wrapper p {
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 34px;
    color: #535971;
    width: 100%;
    padding-bottom: 16px;
}

.col-3 {
    display: flex;
    gap: 20px;
}
   
   .col-3 > div:nth-child(1) {
   width: 100%;
}

footer {
    background: #535971;
    height: 200px;
    width: 680px;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    margin-bottom: none;
    border-top: 1px solid #d6d6d6;
    border-radius: 0 0 8px 8px;
}

footer .button {
    height: 56px;
    background: #FF5374;
    background-position: 0 100%;
    border: 0;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}